<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        {{!-- <li>
          <a href="/dashboard" class="waves-effect"><i class="ti-home"></i><span
            > Trang chủ </span></a>
        </li>
        <li>
          <a href="/patient" class="waves-effect"><i
              class="mdi mdi-biohazard"
            ></i><span> Quản lý thông tin</span></a>
        </li> --}}
        <li>
          <a href="/product" class="waves-effect"><i
              class="fa fa-shopping-basket"
            ></i><span> Nhu yếu phẩm </span></a>
        </li>

        <li>
          <a href="/category" class="waves-effect"><i
              class="mdi mdi-package-variant"
            ></i><span> Category </span></a>
        </li>

        {{!-- <li>
          <a href="/account" class="waves-effect"><i
              class="ion-social-usd"
            ></i><span> Quản lý thanh toán </span></a>
        </li>
        <li>
          <a href="/account/addAccount" class="waves-effect"><i
              class="mdi mdi-account-plus"
            ></i><span> Tạo tài khoản </span></a>
        </li> --}}

      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- end sidebarinner -->
</div>