<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <h3 class="text-left" style="color:white; padding-left: 25px; padding-top: 25px;"><span> Category </span>
      </h3>
      <ul>
        <li>
          <div class="dropdown">
          
            <button class="btn btn-success btn-lg dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span>Hiển thị tất cả  <i
                  class="fa fa-sort-down"></i></span>
            </button>
            <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item btn btn-light btn-block" href="#">Mì</a>
              <a class="dropdown-item btn btn-light btn-block" href="#">Nước suối</a>
              <a class="dropdown-item btn btn-light btn-block" href="#">Nước ngọt</a>
            </div>
          </div>

        </li>
      </ul>
    </div>

  </div>

  <!-- end sidebarinner -->
</div>