{{!-- <div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <h3 class="text-left" style="color:white; padding-left: 25px; padding-top: 25px;"><span> Category </span>
      </h3>
      <ul>
        <li>
          <div class="dropdown">
          
            <button class="btn btn-success btn-lg dropdown-toggle btn-block" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span>Hiển thị tất cả  <i
                  class="fa fa-sort-down"></i></span>
            </button>
            <div class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item btn btn-light btn-block" href="#">Mì</a>
              <a class="dropdown-item btn btn-light btn-block" href="#">Nước suối</a>
              <a class="dropdown-item btn btn-light btn-block" href="#">Nước ngọt</a>
            </div>
          </div>

        </li>
      </ul>
    </div>

  </div>

  <!-- end sidebarinner -->
</div> --}}

<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>
        {{!-- <li>
          <a href="/dashboard" class="waves-effect"><i class="ti-home"></i><span
            > Trang chủ </span></a>
        </li>
        <li>
          <a href="/patient" class="waves-effect"><i
              class="mdi mdi-biohazard"
            ></i><span> Quản lý thông tin</span></a>
        </li> --}}
        <li>
          <a href="/purchase" class="waves-effect"><i
              class="fa fa-shopping-basket"
            ></i><span> Nhu yếu phẩm </span></a>
        </li>
        
        {{!-- <li>
          <a href="/account" class="waves-effect"><i
              class="ion-social-usd"
            ></i><span> Quản lý thanh toán </span></a>
        </li>
        <li>
          <a href="/account/addAccount" class="waves-effect"><i
              class="mdi mdi-account-plus"
            ></i><span> Tạo tài khoản </span></a>
        </li> --}}

      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- end sidebarinner -->
</div>