<div class="container center-block" style="width:500px">
    <div class="row">
            <div  style="display: flex; flex-direction: column;">
                    <div class="col-lg-8">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Số dư hiện tại</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{money}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Hạn mức tối thiểu</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{mini}}</p>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        </div>
</div>