<div class="container center-block" style="width:500px">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form  action="javascript:void(0)" >

                        <div class="form-group">
                            <label>Tổng Tiền Trong Tài Khoản</label>
                            <input type="text" class="form-control" name="total_money" readonly value= {{total_money}} placeholder="Type something"/>
                        </div>

                </form>
            </div>
        </div>
</div>
