<a href="/user/basicInfor" style="color:white; "><button type="button" class="btn btn-primary btn-block waves-effect waves-light" style="margin-bottom: 5px">Các Thông Tin Cơ Bản</button></a>
<a href="/user/managerHistory" style="color:white; "><button type="button" class="btn btn-primary btn-block waves-effect waves-light"style="margin-bottom: 5px">Lịch Sử Quản Lý</button></a>
<a href="/user/packageHistory" style="color:white; "><button type="button" class="btn btn-primary btn-block waves-effect waves-light"style="margin-bottom: 5px">Lịch Sử Tiêu Thụ Gói Nhu Yếu Phẩm</button></a>
<a href="/user/Debt" style="color:white; "><button type="button" class="btn btn-primary btn-block waves-effect waves-light"style="margin-bottom: 5px">Dư Nợ</button></a>

<a href="/user/paymentHistory" style="color:white;  "><button type="button" class="btn btn-primary btn-block waves-effect waves-light"style="margin-bottom: 5px">Lịch Sử Thanh Toán</button></a>
