<div class="container center-block" style="width:500px">

            <div class="panel panel-primary">
                <div class="panel-body">
                    <form  action="/treatmentPlace/addTreatmentPlace" method="post">
                        <div class="form-group">
                                <label>Tên địa điểm</label>
                                <input type="text" class="form-control" name="name" required placeholder="Type something"/>
                        </div>

                        <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" name="address" required placeholder="Type something"/>
                        </div>
                        <div class="form-group">
                            <label>Sức chứa</label>
                            <div>
                            <input data-parsley-type="number" type="text" name="capacity" class="form-control" required placeholder="Enter only numbers"/>
                        </div>
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-default waves-effect m-l-5">
                                    Reset
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
</div>
