<div class="container center-block" style="width:500px">
        {{#if message}}
            <div class="alert alert-danger">
               <div>{{message}}</div>
            </div>
        {{/if}}
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form  action="/user/addUserAccount" method="post">
                        <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" class="form-control" name="name" required placeholder="Type something"/>
                        </div>

                        <div class="form-group">
                            <label>CMND</label>
                            <div>
                            <input data-parsley-type="number" type="text" name="CMND" class="form-control" required placeholder="Enter only numbers"/>
                        </div>

                        <div class="form-group">
                                <label>Tên đăng nhập:</label>
                                <input type="text" class="form-control" name="username" required placeholder="Type something"/>
                        </div>
                        
                        <div class="form-group">
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                                <button type="reset" class="btn btn-default waves-effect m-l-5">
                                    Reset
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
</div>