<div class="container center-block" style="width:500px">
    <div class="panel panel-primary">
        <div class="panel-body">

    <form action="/patient/changeInfo" method="post">
        <div class="form-group">
                <label>Trạng thái:</label>
                <div>
                    <input type="text" class="form-control" required data-parsley-maxlength="6" name="status" placeholder="Max 6 chars."/>
                </div>
        </div>
        <input name="id" value="{{id}}" style="display: none" >
        <div class="form-group">
            <label>Nơi điều trị:</label>
            <select name="treatment_place" class="form-control" required>
                {{#each treatment_place}}
                <option value="{{value}}" style="{{style}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-primary waves-effect waves-light">
                    Submit
                </button>
        </div>
    </form>
    </div>
    </div>
</div>